.sc-home-feature-box {
  border: 1px @primary-border-color solid;
  padding: 1.5rem;
  .sc-animation();

  &:hover {
    box-shadow: 0px 25px 45px 0px rgba(0, 0, 0, 0.15);
  }

  @media @medium-devices {
    margin-bottom: 1.5rem;
  }
}

.sc-home-feature-box-img {
  width: 100%;
  margin-bottom: 1.5rem;
}